<div class="hero-unit">
  <h1>Welcome to the subdomainbox demo</h1>
  <p>This is a demo of the <a href="https://github.com/populr/subdomainbox">subdomainbox gem</a>. This demo is a very simple collaborative document app. You can create multiple users and add them as collaborators to your documents. The collaborator can inject XSS into the documents so that when the document is viewed by the document owner, the XSS will run in the context of the document owner's session.</p>

  <p>With subdomain boxing, the XSS can only affect the current document. In this way, the attack is limited to the resource the attacker was given explicit permission to edit. The attacker cannot read any other docs, get a listing of other docs, or perform POST/PUT/DELETE on any other docs.</p>

  <p><a href="/users/sign_up" class="btn btn-primary btn-large">Try it &raquo;</a></p>
</div>
